.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    padding-top: 1px; /* Add padding to move the content down */
}

.login-header {
    margin-bottom: 20px;
    text-align: center;
    background-color: #007bff; /* Blue background */
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Increase width */
    max-width: 600px; /* Increase max width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-header h1 {
    color: white; /* White text color */
    font-size: 32px; /* Increased font size */
    margin: 0;
}

.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}